.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    padding: 30px 0;
    margin-top: 70px;
    bottom: 0;
    width: 100%;
}

.kasa-logo {
    padding: 10px;
    display: flex;
    align-items: center;
}

.legacy {
    color: white;
    margin-top: 20px;
}